<% layout('layouts/boilerplate')%>
<h1>All Ads</h1>
<p>
  <a href="/ads/new">Create a New Ad</a>
</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <% for (let ad of ads){%>
  <div class="col">
    <div class="card h-100">
      <% if(ad.images.length) { %>
      <img class="card-img-top" alt="" src="<%=ad.images[0].url%>" />
      <% }else {%>
      <img
        class="card-img-top"
        alt=""
        src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png"
      />
      <% } %>
      <div class="card-body">
        <h5 class="card-title"><%= ad.title %></h5>
        <p class="card-text text-muted"><%= ad.location%></p>
        <a class="btn btn-primary" href="/ads/<%=ad._id%>">View <%=ad.title%></a>
      </div>
      <div class="card-footer">
        <small class="text-muted">$<%= ad.price %></small>
      </div>
    </div>
  </div>
  <% }%>
</div>
