<% layout('layouts/boilerplate')%>

<head>
  <link rel="stylesheet" href="/stylesheets/Ads/Ad-preview.css" />
</head>

<div class="container">
  <h1>All Ads</h1>

  <div class="row">
    <div class="col-md-8">
      <% for (let ad of ads){%>
      <div class="ad-preview mb-3">
        <div class="row">
          <div class="col-md-4">
            <%if(ad.images.length) {%>
            <img
              class="img-fluid"
              style="height: 150px"
              src="<%=ad.images[0].url%>"
            />
            <% }else {%>
            <img class="img-fluid" alt="" src="/Images/no-image.png" />
            <% } %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= ad.title %></h5>

              <p class="card-text">$<%= ad.price %></p>
              <p class="card-text">
                <small class="text-muted"><%= ad.location%></small>
              </p>
              <a class="btn btn-primary" href="/ads/<%=ad._id%>"
                >More Details
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <% }%>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Post Your Ad</h5>
          <h6 class="card-subtitle mb-2 text-muted">Totally Free! No Limit.</h6>
          <p class="card-text">
            Simple Classified is <b>Totally Free! No Limit</b> Classified Ad
            plaform.
          </p>
          <a href="/ads/new" class="card-link">Post Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
